pip
wheel
watchdog
flake8
coverage
Sphinx
twine
Click
typer[all]
rich
pytest
black
tqdm
hydra-core
dynaconf[all]
prometheus-client
sentry-sdk
apache-skywalking[all]
loguru
requests
aiohttp
aiodns
asyncpg
beautifulsoup4
lxml
html5lib
rx
psutil
python-nmap
paramiko
Netmiko
Nornir
PyEZ
grpcio
pygeocoder
trio
celery[redis]
eventlet
# pyamqp
eventlet
dramatiq[redis, watch]
scoop
numba
cuda-python
pyopencl
intel-opencl-rt
astropy
astroquery
astroplan
astroML
quandl
pyfolio
# zeppelin
# termios
# curses
pynput
tqdm
dask
graphviz
dask-ml
jupyterlab
networkx[default]
scikit-network
python3-memcached
pymemcache
pyzmq
docker
etcd3
# cilium-cli
poetry
# cookiecutter-data-science
vllm
transformers