pip
wheel
watchdog
flake8
coverage
Sphinx
twine
Click
typer[all]
rich
pytest
black
tqdm
hydra-core
dynaconf[all]
prometheus-client
sentry-sdk
apache-skywalking[all]
loguru
requests
aiohttp
aiodns
beautifulsoup4
lxml
html5lib
rx
psutil
python-nmap